/sheet2xlsx
/json2xlsx
dist/
\~\$*
*.xlsx
!samples/*.xlsx
/test.*
local-build.sh
.idea/
.goreleaser.yaml
release.sh
test_data/
update.bash
AGENTS.md
draft/
scripts/
samples/*.txt
samples/*xlsx
samples/*_test.json
